.content {    
    padding: 20px;
}

.url {
    margin-bottom: 20px !important;
}

.table-table {
    margin-bottom: 20px !important;
}

.url-input-container {
    display: grid;
    grid-template-columns: 800px auto;
    grid-gap: 20px;
    padding: 16px 24px;
    background-color:#f5f5f5;
}

.url-input-add {
    width: 200px;
}
